
@{
    ViewData["Title"] = "SuspendUserAccount";
}

<h2>Suspend User Account</h2>
<h1 style="background:red">
    Unexpected error occured while Deleting the user.
    Instance has been logged for further references.
</h1>

