@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Centennial College<br/>
    P.O. Box 631 Station A<br />
    Toronto, ON, M1K 5E9<br />
    <abbr title="Phone">P:</abbr>
    127.0.0.1
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Gopharmaapp@gmail.com">Gopharmaapp@gmail.com</a><br />
    <strong>Contact:</strong> <a href="mailto:Gopharmaappcontact@gmail.com">Gopharmaappcontact@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Gopharmaappmarketing@gmail.com">Gopharmaappmarketing@gmail.com</a>
</address>
