@model PharmaGoApp.Models.Common.ReserveMedicine

@{
    ViewData["Title"] = "CreateReserveMed";
}

<h2>Allot Medicine On Prescription</h2>

<h4>ReserveMedicine</h4>

@if(ViewBag.ErrMessage != null)
{
    <h2 style="background:red">
        @ViewBag.ErrMessage
    </h2>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateReserveMed">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StockMedicineId" class="control-label"></label>
                <select asp-for="StockMedicineId" asp-items="@(new SelectList(ViewBag.StockMedicines,"Id","Medicine.Name"))" class="form-control">
                    <option>Select One</option>
                </select>
                <span asp-validation-for="StockMedicineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedName" class="control-label"></label>
                <select asp-for="MedName" asp-items="@(new SelectList(ViewBag.StockMedicines,"Medicine.Name","Medicine.Name"))" class="form-control">
                    <option>Select One</option>
                </select>
                <span asp-validation-for="MedName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" disabled class="form-control disabled" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control disabled" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="PrescriptionId" class="control-label"></label>
                <input asp-for="PrescriptionId" class="form-control" />
                <span asp-validation-for="PrescriptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Book Medicine" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


